node_modules/
.env
.env.local
.env.production
wallet.json
encrypted-wallet.json
.secrets/
orders.json
signer-addresses.json
dist/
build/
*.log
.DS_Store
package-lock.json 

signing-keys.env
signing-keys.json
src/iapp/cache/
src/iapp/iapp-payroll.config.json
src/iapp/iapp.config.backup.json
src/iapp/app-secret-invoice.json
src/iapp/iapp.config.json